<div class="m-3">
  <div class="m-auto w-50 border rounded">
    <h4 class="text-center bg-info p-2">Add Asset</h4>
    <form class="m-2 ">
      <div class="form-group">
        <label class="label">Asset Name:</label>
        <input
          class="form-control form-control-sm"
          type="text"
          placeholder="Asset name"
        />
      </div>
      <div class="form-group">
        <label>Asset Category</label>
        <br />
        <select class="form-control form-control-sm">
          <option value="0" disabled selected>Select Category</option>
          <option value="Desktop">Desktop</option>
          <option value="Laptop">Laptop</option>
          <option value="voIP">voIP</option>
        </select>
      </div>
      <div class="form-group">
        <label>Asset Description:</label>
        <textarea
          class="form-control form-control-sm"
          type="text"
          placeholder="Asset description"
        >
        </textarea>
      </div>

      <div class="form-group">
        <label>Purchase Date</label>
        <input
          class="form-control form-control-sm"
          type="date"
          placeholder="Purchase date"
        />
      </div>
      <div class="form-group">
        <label>Asset cost</label>
        <input
          class="form-control form-control-sm"
          type="text"
          placeholder="Asset cost"
          placeholder="INR XXXXXX"
        />
      </div>
      <button class="btn btn-info">Add device</button>
    </form>
  </div>
</div>
